<h1> Welcome to the San Juan Islands Hiking App! </h1>

<h3> Have an account?  Please sign in!</h3>
<%= link_to('Log in with Facebook!', '/auth/facebook', method: :post) %> or <%= link_to 'Log in with Password', '/login' %>

<h3> Need an account? Create one here! </h3>
<%= link_to 'Create an account', '/sign_up' %>