<h1> Create Review </h1>

<%= render partial: "form", locals: {hike: @hike, review: @review}%>

<p> Return to: <%= link_to @review.hike.name, island_hike_path(@review.hike.island, @review.hike) %></p>

